.android-compact,
.android-compact * {
  box-sizing: border-box;
}
.android-compact {
  background: #ffffff;
  height: 5363px;
  position: relative;
  overflow: hidden;
}
.review {
  width: 413px;
  height: 1198px;
  position: absolute;
  left: calc(50% - 206px);
  top: 4165px;
  overflow-y: hideen;
}
.vector-bg-review {
  background-image: url('./x-a-01.png');
  width: 413px;
  height: 5569px;
  position: absolute;
  left: calc(50% - 206px);
  top: -3800px;
  overflow: hidden;
}
._6-reveiw {
  position: absolute;
  inset: 0;
}
.rv {
  width: 317px;
  height: 544px;
  position: static;
}
.text-rv-ens-con {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1110px;
  width: 316px;
}
.text-rv-ens-4th {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 987px;
  width: 316px;
}
._4th {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 963px;
  width: 316px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-rv-ens-3rd {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 876px;
  width: 316px;
}
._3rd {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 851px;
  width: 316px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-rv-ens-2nd {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 770px;
  width: 316px;
}
._2nd {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 747px;
  width: 316px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-rv-ens-1st {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 646px;
  width: 316px;
}
._1st {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 626px;
  width: 316px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-name-ensemble {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 159px);
  bottom: 48.58%;
  top: 50.25%;
  height: 1.17%;
  width: 316px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.rv-1234 {
  width: 317px;
  height: 98px;
  position: static;
}
.text-rv-234 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 496px;
  width: 316px;
  height: 72px;
}
.text-name-1234 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 159px);
  bottom: 59.6%;
  top: 39.23%;
  height: 1.17%;
  width: 316px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.rv2 {
  width: 317px;
  height: 98px;
  position: static;
}
.text-rv-north {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 364px;
  width: 316px;
  height: 72px;
}
.text-name-north {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 159px);
  bottom: 70.62%;
  top: 28.21%;
  height: 1.17%;
  width: 316px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.rv-20 {
  width: 317px;
  height: 98px;
  position: static;
}
.text-rv-20 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 232px;
  width: 316px;
  height: 72px;
}
.text-name-20 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 159px);
  bottom: 81.64%;
  top: 17.2%;
  height: 1.17%;
  width: 316px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.rv-trio {
  width: 316px;
  height: 80px;
  position: static;
}
.text-rv-trio {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 118px;
  width: 316px;
  height: 54px;
}
.text-name-202 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  bottom: 91.15%;
  top: 7.68%;
  height: 1.17%;
  width: 316px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.text-title-review {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 31px);
  top: 32px;
  width: 61px;
  height: 24px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.program {
  width: 413px;
  height: 2238px;
  position: absolute;
  left: calc(50% - 206px);
  top: 1927px;
  overflow-y: hidden;
}
.vector-bg-program {
  width: 413px;
  height: 5205.39px;
  position: absolute;
  left: calc(50% - 206px);
  top: -1931.22px;
  overflow: visible;
}
._5-program {
  position: absolute;
  inset: 0;
}
.ensemble {
  width: 316px;
  height: 358px;
  position: static;
}
.text-exp-st-1-en {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 2015px;
  width: 316px;
  height: 159px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-st-1-en {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1989px;
  width: 316px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.group-1 {
  width: 274px;
  height: 100px;
  position: static;
}
.text-count-en-m {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 127px);
  top: 1936px;
  width: 158px;
}
.text-count-en-34 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 11px);
  top: 1856px;
  width: 158px;
}
.text-count-en-12 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 127px);
  top: 1856px;
  width: 116px;
}
.text-title-ensemble {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 46px);
  top: 1816px;
  width: 92px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px rgba(255, 255, 255, 0.5);
}
._1234-quartet {
  width: 316px;
  height: 436px;
  position: static;
}
.text-exp-st-2-1234 {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1420px;
  width: 316px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-exp-st-1-1234 {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1626px;
  width: 316px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-st-2-1234 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1376px;
  width: 316px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-song-title-1-1234 {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1582px;
  width: 316px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-count-1234 {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 158px);
  top: 1342px;
  width: 316px;
  height: 18px;
}
.text-title-1234-quartet {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 39px);
  top: 1316px;
  width: 78px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px rgba(255, 255, 255, 0.5);
}
.north-quartet {
  width: 316px;
  height: 363px;
  position: static;
}
.text-exp-st-2-nq {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1163px;
  width: 316px;
  height: 89px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-2-nq {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 1119px;
  width: 316px;
  height: 36px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-exp-st-1-nq {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 993px;
  width: 316px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-1-nq {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 949px;
  width: 316px;
  height: 36px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-count-nq {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 158px);
  top: 915px;
  width: 316px;
  height: 18px;
}
.text-title-north-quartet {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 39px);
  top: 889px;
  width: 78px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px rgba(255, 255, 255, 0.5);
}
._20-quartet {
  width: 316px;
  height: 362px;
  position: static;
}
.text-exp-st-2-20-qua {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 736px;
  width: 316px;
  height: 89px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-2-20-qua {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 692px;
  width: 316px;
  height: 36px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-exp-st-1-20-qua {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 567px;
  width: 316px;
  height: 89px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-1-20-qua {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 523px;
  width: 316px;
  height: 36px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-count-20-qua {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 158px);
  top: 489px;
  width: 316px;
  height: 18px;
}
.text-title-20-qua {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 39px);
  top: 463px;
  width: 78px;
  height: 18px;
  -webkit-text-stroke: 0.20000000298023224px rgba(255, 255, 255, 0.5);
}
.trio {
  width: 316px;
  height: 290px;
  position: static;
}
.text-exp-song-title-2-trio {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 345px;
  width: 316px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-2-trio {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 301px;
  width: 316px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-exp-song-title-1-trio {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 211px;
  width: 316px;
  -webkit-text-stroke: 0.10000000149011612px #ffffff;
}
.text-song-title-1-trio {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 158px);
  top: 167px;
  width: 316px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-count-trio {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 158px);
  top: 133px;
  width: 316px;
}
.text-title-trio {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 15px);
  top: 109px;
  -webkit-text-stroke: 0.20000000298023224px rgba(255, 255, 255, 0.5);
}
.text-title-program {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 36px);
  top: 47px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.intro {
  width: 413px;
  height: 431px;
  position: absolute;
  left: calc(50% - 206px);
  top: 1496px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.vector-bg-intro {
  width: 413px;
  height: 5192px;
  position: absolute;
  left: 0px;
  top: -1495.25px;
  overflow: hidden;
}
._4-intro {
  position: absolute;
  inset: 0;
}
.text-intro {
  color: #ffffff;
  text-align: justified;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 11px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 159px);
  top: 99px;
  width: 318px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-title-intro {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 21px);
  top: 41px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.history {
  width: 413px;
  height: 550px;
  position: absolute;
  left: calc(50% - 206px);
  top: 946px;
  overflow-y: auto;
}
._2-page-1 {
  width: 413px;
  height: 550px;
  position: absolute;
  left: calc(50% - 206.5px);
  top: 0px;
  overflow: hidden;
}
.x-a-0 {
  position: absolute;
  inset: 0;
}
.x-a-02 {
  width: 100%;
  height: 944%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -672.14%;
  top: -171.86%;
  object-fit: cover;
}
._3 {
  width: 42.23%;
  height: 28.25%;
  position: absolute;
  right: -13.31%;
  left: 71.08%;
  bottom: -12.68%;
  top: 84.43%;
  overflow: visible;
}
._3-history {
  position: absolute;
  inset: 0;
}
.text-his-present {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 106.5px);
  top: 351px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-his-present2 {
  color: #ffee31;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 106.5px);
  top: 446px;
  width: 214px;
  -webkit-text-stroke: 0.4000000059604645px #ffee31;
}
.img-elipsis-png {
  width: 30px;
  height: 9.31px;
  position: absolute;
  left: calc(50% - 14.5px);
  top: 300px;
  object-fit: cover;
}
.text-his-past {
  color: #ffffff;
  text-align: left;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 109.5px);
  top: 132px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-title-h-istory {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 28.5px);
  top: 64px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.about-title {
  width: 413px;
  height: 946px;
  position: absolute;
  left: calc(50% - 206px);
  top: 0px;
  overflow-y: hidden;
}
.vector-bg-1 {
  width: 413px;
  height: 5224.93px;
  position: absolute;
  left: calc(50% - 206px);
  top: 0.75px;
  overflow: visible;
}
.text-1-page {
  position: absolute;
  inset: 0;
}
.text-title {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 58px);
  top: 226px;
  -webkit-text-stroke: 1px #ffffff;
}
.text-ex-date {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 21px);
  top: 162px;
  -webkit-text-stroke: 0.20000000298023224px #ffffff;
}
.text-ex-name {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 93px);
  top: 176px;
  width: 186px;
  height: 14px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.text-place {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 97px);
  top: 390px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.text-date {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 61px);
  top: 370px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
._2-about {
  position: absolute;
  inset: 0;
}
.but-insta {
  width: 81px;
  height: 75px;
  position: static;
}
.ellipse-3 {
  border-radius: 50%;
  width: 41px;
  height: 41px;
  position: absolute;
  right: 89px;
  top: 822px;
  object-fit: cover;
}
.instagram {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  right: 69px;
  top: 873px;
  width: 81px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.but-dq {
  width: 81px;
  height: 75px;
  position: static;
}
.ellipse-2 {
  border-radius: 50%;
  width: 41px;
  height: 41px;
  position: absolute;
  left: calc(50% - 20px);
  top: 822px;
  object-fit: cover;
}
.daum-cafe {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 40px);
  top: 873px;
  width: 81px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.but-yt {
  width: 59px;
  height: 75px;
  position: static;
}
.ellipse-1 {
  border-radius: 50%;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 83px;
  top: 822px;
  object-fit: cover;
}
.youtube {
  color: #ffffff;
  text-align: center;
  font-family: "SCoreDream-1Thin", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 873px;
  width: 59px;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.text-ex-pm {
  color: #ffffff;
  text-align: center;
  font-family: "GyeonggiBatang-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 98px);
  top: 561px;
  width: 196px;
}
.text-title-about {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 48px);
  top: 486px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.30000001192092896px #ffffff;
}
.but-about {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(217, 217, 217, 0);
  width: 53px;
  height: 25px;
  position: absolute;
  left: 22px;
  top: 35px;
}
.phil-muse {
  color: #000000;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.30000001192092896px #000000;
}
.but-history {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: rgba(217, 217, 217, 0);
  width: 54px;
  height: 25px;
  position: absolute;
  left: 100px;
  top: 35px;
}
.history2 {
  color: #000000;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.30000001192092896px #000000;
}
.but-program {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: rgba(0, 0, 0, 0);
  width: 53px;
  height: 25px;
  position: absolute;
  left: calc(50% - 27px);
  top: 35px;
}
.program2 {
  color: #ffffff;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 187px;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.5px #ffffff;
}
.but-intro {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: rgba(217, 217, 217, 0);
  width: 53px;
  height: 25px;
  position: absolute;
  left: 257px;
  top: 35px;
}
.intro2 {
  color: #000000;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 274px;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.30000001192092896px #000000;
}
.but-rv {
  position: absolute;
  inset: 0;
}
.rectangle-9 {
  background: rgba(217, 217, 217, 0);
  width: 54px;
  height: 25px;
  position: absolute;
  left: 335px;
  top: 35px;
}
.review2 {
  color: #000000;
  text-align: center;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 348px;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.30000001192092896px #000000;
}
